<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>CoronaSite FAQs</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-danger sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-medkit"></i>
        </div>
        <div class="sidebar-brand-text mx-3">CoronaSite</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item ">
        <a class="nav-link" href="indexMY.html">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Home</span></a>
      </li>
      <!-- Nav Item - Dashboard -->
      <li class="nav-item ">
        <a class="nav-link" href="statisticsMY.html">
          <i class="fas fa-fw fa-question-circle"></i>
          <span>Statistics</span></a>
      </li>
      <!-- Nav Item - Dashboard -->
      <li class="nav-item ">
        <a class="nav-link" href="index.html">
          <i class="fas fa-fw fa-comment-medical"></i>
          <span>Emergency</span></a>
      </li>
      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="faqs.html">
          <i class="fas fa-fw fa-book-medical"></i>
          <span>FAQs</span></a>
      </li>

      <!-- Divider -->
      <!-- <hr class="sidebar-divider"> -->

      <!-- Heading -->
      <!-- <div class="sidebar-heading"> -->
      <!-- TOOLS -->
      <!-- </div> -->

      <!-- Nav Item - Pages Collapse Menu
      <li class="nav-item">
        <a class="nav-link" href="#"  data- data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-fw fa-question-circle"></i>
          <span>Statistics</span>
        </a>
 <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Custom Components:</h6>
            <a class="collapse-item" href="buttons.html">Buttons</a>
            <a class="collapse-item" href="cards.html">Cards</a>
          </div>
        </div> 
      </li>-->



      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column" style="overflow: hidden;">

      <!-- Main Content -->
      <div id="content" style="overflow: hidden;">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Search -->
          <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
              <input type="text"  id="sbox"onkeypress="return noenter()"   class="form-control bg-light border-0 small" placeholder="Search for Statistics"
                aria-label="Search" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <a id="go" href="">
                  <button onclick="searc()"class="btn btn-danger" type="button">
                  <i class="fas fa-search fa-sm"></i>
                </button></a>
              </div>
            </div>
          </form>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a></li>
            <li class="h4 text-gray-600">CoronaSIte</li>


          </ul>



          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h2 mb-0 text-gray-800">Frequently Asked Questions</h2>
              <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
          </div>

          <!-- questions start -->


          <!-- queIndivStart -->
          <div class="card shadow mb-4">
            <!-- Card Header - Accordion -->
            <a href="#quepanel1" class="d-block card-header py-3" data-toggle="collapse" role="button"
              aria-expanded="true" aria-controls="quepanel1">
              <h5 class="m-0 font-weight-bold text-gray-700">What is Coronoa Virus and COVID19?</h5>
            </a>
            <!-- Card Content - Collapse -->
            <div class="collapse" id="quepanel1">
              <div class="card-body">
                Coronaviruses are a large family of viruses which may cause illness in animals or humans. In humans,
                several coronaviruses are known to cause respiratory infections ranging from the common cold to more
                severe diseases such as Middle East Respiratory Syndrome (MERS) and Severe Acute Respiratory Syndrome
                (SARS). The most recently discovered coronavirus causes coronavirus disease COVID-19.<br>
                COVID-19 is the infectious disease caused by the most recently discovered coronavirus. This new virus
                and disease were unknown before the outbreak began in Wuhan, China, in December 2019.
              </div>
            </div>
          </div>
          <!-- queIndivEnd -->

          <!-- queIndivStart -->
          <div class="card shadow mb-4">
            <!-- Card Header - Accordion -->
            <a href="#quepanel2" class="d-block card-header py-3" data-toggle="collapse" role="button"
              aria-expanded="true" aria-controls="quepane2">
              <h5 class="m-0 font-weight-bold text-gray-700">What are the symptoms of COVID19?</h5>
            </a>
            <!-- Card Content - Collapse -->
            <div class="collapse" id="quepanel2">
              <div class="card-body">
                The most common symptoms of COVID-19 are fever, tiredness, and dry cough. Some patients may have aches
                and pains, nasal congestion, runny nose, sore throat or diarrhea.
              </div>
            </div>
          </div>
          <!-- queIndivEnd -->

          <!-- queIndivStart -->
          <div class="card shadow mb-4">
            <!-- Card Header - Accordion -->
            <a href="#quepanel3" class="d-block card-header py-3" data-toggle="collapse" role="button"
              aria-expanded="true" aria-controls="quepanel3">
              <h5 class="m-0 font-weight-bold text-gray-700">How does COVID19 spread?</h5>
            </a>
            <!-- Card Content - Collapse -->
            <div class="collapse" id="quepanel3">
              <div class="card-body">
                People can catch COVID-19 from others who have the virus. The disease can spread from person to person
                through small droplets from the nose or mouth which are spread when a person with COVID-19 coughs or
                exhales. These droplets land on objects and surfaces around the person. Other people then catch COVID-19
                by touching these objects or surfaces, then touching their eyes, nose or mouth.
              </div>
            </div>
          </div>
          <!-- queIndivEnd -->

          <!-- queIndivStart -->
          <div class="card shadow mb-4">
            <!-- Card Header - Accordion -->
            <a href="#quepanel4" class="d-block card-header py-3" data-toggle="collapse" role="button"
              aria-expanded="true" aria-controls="quepanel4">
              <h5 class="m-0 font-weight-bold text-gray-700">Who is at risk of developing severe illness?</h5>
            </a>
            <!-- Card Content - Collapse -->
            <div class="collapse" id="quepanel4">
              <div class="card-body">
                While we are still learning about how COVID-2019 affects people, older persons and persons with
                pre-existing medical conditions (such as high blood pressure, heart disease, lung disease, cancer or
                diabetes) appear to develop serious illness more often than others.
              </div>
            </div>
          </div>
          <!-- queIndivEnd -->

          <!-- queIndivStart -->
          <div class="card shadow mb-4">
            <!-- Card Header - Accordion -->
            <a href="#quepanel5" class="d-block card-header py-3" data-toggle="collapse" role="button"
              aria-expanded="true" aria-controls="quepanel5">
              <h5 class="m-0 font-weight-bold text-gray-700">Is their a drug, vaccine or treatment for COVID19?</h5>
            </a>
            <!-- Card Content - Collapse -->
            <div class="collapse" id="quepanel5">
              <div class="card-body">
                Not yet. To date, there is no vaccine and no specific antiviral medicine to prevent or treat COVID-2019.
                However, those affected should receive care to relieve symptoms.
              </div>
            </div>
          </div>
          <!-- queIndivEnd -->

          <!-- queIndivStart -->
          <div class="card shadow mb-4">
            <!-- Card Header - Accordion -->
            <a href="#quepanel7" class="d-block card-header py-3" data-toggle="collapse" role="button"
              aria-expanded="true" aria-controls="quepanel7">
              <h5 class="m-0 font-weight-bold text-gray-700">How long does the virus survive on surfaces?</h5>
            </a>
            <!-- Card Content - Collapse -->
            <div class="collapse" id="quepanel7">
              <div class="card-body">
                It is not certain how long the virus that causes COVID-19 survives on surfaces, but it seems to behave
                like other coronaviruses. Studies suggest that coronaviruses (including preliminary information on the
                COVID-19 virus) may persist on surfaces for a few hours or up to several days. This may vary under
                different conditions (e.g. type of surface, temperature or humidity of the environment).
              </div>
            </div>
          </div>
          <!-- queIndivEnd -->

          <!-- Card Header - Accordion -->
          <div class="card shadow mb-4">

            <a href="#quepanel8" class="d-block card-header py-3" data-toggle="collapse" role="button"
              aria-expanded="true" aria-controls="quepanel8">
              <h5 class="m-0 font-weight-bold text-gray-700">Is COVID19 the same as SARS?</h5>
            </a>
            <!-- Card Content - Collapse -->
            <div class="collapse" id="quepanel8">
              <div class="card-body">
                aNo. The virus that causes COVID-19 and the one that caused the outbreak of Severe Acute Respiratory
                Syndrome (SARS) in 2003 are related to each other genetically, but the diseases they cause are quite
                different.
              </div>
            </div>
          </div>
          <!-- queIndivEnd -->

          <!-- Card Header - Accordion -->
          <div class="card shadow mb-4">

            <a href="#quepanel6" class="d-block card-header py-3" data-toggle="collapse" role="button"
              aria-expanded="true" aria-controls="quepanel6">
              <h5 class="m-0 font-weight-bold text-gray-700">How longis the incubation period for COVID19?</h5>
            </a>
            <!-- Card Content - Collapse -->
            <div class="collapse" id="quepanel6">
              <div class="card-body">
                The “incubation period” means the time between catching the virus and beginning to have symptoms of the
                disease. Most estimates of the incubation period for COVID-19 range from 1-14 days, most commonly around
                five days. These estimates will be updated as more data become available.
              </div>
            </div>
          </div>
          <!-- queIndivEnd -->
          <!-- questions end -->

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->


  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="js/demo/chart-area-demo.js"></script>
  <script src="js/demo/chart-pie-demo.js"></script>
  <script src="myjs/indexjs.js"></script>
  <script>
    function searc()
    {
      document.getElementById("go").href="statisticsshow.html"+"?search="+document.getElementById("sbox").value;
    }

  </script>

</body>

</html>